<div id="<%= dom_id contact_submission %>">
  <p>
    <strong>Name:</strong>
    <%= contact_submission.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_submission.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= contact_submission.subject %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact_submission.message %>
  </p>

</div>
